>A188G00001
GCCGCCGATGTCGATGACCGAGGAGACGGCCGCGGCGGGGAAGGGGAAGTCCTTCCCCGGGACGCCGAGGGGGCCGCCGGCGCCGAAGGGGACGACGGGGAGGTCGATGTCGAAGGGCATCCGCTTGTGCGGCGACGGCGGCCACGGGAACTGCGGCGGCACCTGGAGCAGGCCCGTGAAACCCTGCGCGAGGCGGTCCGCGAGGTCCTGACCATGCCGCTGCACGCCCTCCCACGCCTCGAAGGAGATCTCCATACGCGTCGGCGTCGCGTCACCACGGCGTCGCTAGGGTTCCGGCAAGCAAATCGGGAATTCGAAGCAAAAGCAACAGCCGACGGGAGAAGGGGCGAGGATTCGACGATGGGAAAGGGAAAAGGAGGAGGAAGGCAGCGGGTAGGTGATGGTAAAATAATAATAGTGGCCGGGGACGGTGACGGTCGCGCTGGGTGAGGTCGGGGAGGATAAAGAAGGCCTTGACCGAGACACCGAGTCGACGTGGATCGACAGGGACTAGAAGATCGCCCGCACGACCGCACCGCACCGCACCGCTTCCGCCGCATGGCCCGCCTGACGGCCCCGGCTGGGCCCAGCGCAGCTTCGGCTCCCCGCGCCGGAGTGGATAAGGGCG
